<h1 class="text-center"><%= project.name %></h1>
<div class="container">

  <div class="text-center">
    <a href="/projects/<%= project.id %>/edit"><button class="btn btn-info">Edit this Project</button></a>
    <a href="/projects/<%= current_user.id %>/list"><button class="btn btn-info">See Your Projects</button></a>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading text-center">Description: <%= project.description %></div>
    <div class="panel-body text-center">
      <p>Start Date: <%= project.start_date %></p>
      <p>End Date: <%= project.end_date %></p>
    </div>
  </div>

  <form action="/projects/<%= project.id %>" method="post">
    <div>
      <input  type="hidden" name="_method" value="delete" />
      <button type="submit" class="btn btn-danger">Delete this Project</button>
    </div>
  </form>

</div>
