<% filtered_sessions.each do |filtered_session| %>
  <h1><%= filtered_session.description %></h1>
  <p>Date: <%= filtered_session.date %></p>
  <p>Start Time: <%= filtered_session.start_time %></p>
  <p>End Time: <%= filtered_session.start_time %></p>
  <p>Belongs To Project: <%= filtered_session.project_name %></p>
<% end %>
