<h1 class="text-center">Your Account</h1>
<div class="container">
  <div class="row" id="user-information">
    <div class="col-xs-6 text-right">
      <span>Name: <%= user.first_name %> <%=user.last_name %></span>
    </div>
    <div class="col-xs-6 text-left">
      <span>Email: <%= user.email %></span>
    </div>
  </div>

  <div class="text-center">
    <a href="/projects/<%= user.id %>/list"><button class="btn btn-info">See Your Projects</button></a>
    <a href="/work_sessions/<%= user.id %>/list_user"><button class="btn btn-info">See Your Work Sessions</button></a>
    <a href="/users/sessions"><button class="btn btn-info">Filter Work Sessions</button></a>
  </div>
</div>
